{% block external_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
    integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% if messages %}
{% for message in messages %}
<script>
    swal({
        title: "{% if 'success' in message.tags %}Success!{% else %}Oops...{% endif %}",
        text: "{{ message|escapejs }}",
        icon: "{% if 'success' in message.tags %}success{% else %}error{% endif %}",
        button: "OK"
    });
</script>
{% endfor %}
{% endif %}